* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
  margin: 1.25rem;
}

.agrupador {
  width: 60rem;
  margin: 0 auto;
}

.more {
  text-align: right;
}
.more a {
  color: orangered;
  text-decoration: none;
}

#footer {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
}

#hgroup {
  align-self: flex-start;
}

#hgroup h1, #hgroup h2 {
  margin: 0;
}

#hgroup h1 {
  font-size: 2.125rem;
}
#hgroup h1 a {
  color: #000;
  text-decoration: none;
}

#hgroup h2 {
  font-size: 0.75rem;
  font-weight: normal;
}

nav {
  align-self: flex-end;
  margin-top: 0.625rem;
}

nav ul {
  display: flex;
  list-style: none;
}

#header nav ul li {
  margin-right: 1.25rem;
  font-size: 0.75rem;
}
#header nav ul li a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li.last {
  margin-right: 0;
}

#container {
  display: flex;
  flex-direction: column;
}

#slider {
  margin-bottom: 1.25rem;
}

#shout {
  text-align: center;
  margin-bottom: 1.25rem;
  border-top: 1px solid #ccc;
}
#shout h1 {
  margin-top: 1.25rem;
  font-size: 2.2rem;
  margin-bottom: 0.625rem;
  font-style: italic;
  text-transform: uppercase;
}

article h2{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.main-container {
  display: flex;
}

#content {
  flex: 3;
  padding: 1.25rem;
  box-sizing: border-box;
}

#right_column {
  flex: 1;
  padding: 1.25rem;
}

#right_column nav ul{
  display: flex;
  flex-direction: column;
}

#right_column h2.title {
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#right_column nav ul li {
  border-bottom: 1px solid #ccc;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}
#right_column nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1.2rem;
}

.one_third img {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

#services {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.625rem;
}

#services article {
  grid-column: 1;
}

#services article:nth-of-type(2) {
  grid-row: 1;
}

#services article:nth-of-type(1) {
  grid-row: 3;
}

#services::after {
  content: "";
  grid-column: 2;
  grid-row: 1 / span 2;
}

#contact {
  margin-top: 2rem;
}

.last_contact {
  font-size: 0.9rem;
  margin: 0;
}